{% extends 'wrappers/headerAndFooter.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="p-5 center align-items-center mx-auto">
        <div style="width: 500px;" class="mx-auto align-items-center bg-gradient center rounded-3 shadow p-3">
            <h1 class="center h1 pb-sm-3">Edit your playlist!</h1>
            <form class=".form-control-plaintext display-flex center px-md-3" method="POST" action="/editPlaylist/{{ existing_playlist.id }}">
                <div class="px-md-3 pb-sm-2">
                    <p class="d-flex flex-column"><input class="input-group-text" type = "text" name = "title" id = " title" placeholder="Title" value=" {{ existing_playlist.title }} " required/></p>
            
                    <p class="d-flex flex-column"><input class="input-group-text" type = "text" name = "link" placeholder="Link (Must be YouTube, Soundcloud or Spotify)"  value=" {{ existing_playlist.link }} " readonly/></p>

                    <p class="d-flex flex-column"><input class="input-group-text" type = "text" name = "tags" id = " tags" placeholder="Tags (e.g. 'Cyberpunk, Phonk,...')"  value=" {{ tags }} " required/></p>
            
                    <p class="d-flex flex-column"><textarea style="min-height: 25vh;" class="input-group-text" type = "description" name = "description" id = "description" placeholder="Description">{{ existing_playlist.description }}</textarea></p>
                </div>
        
                <p class="px-3"><button class="input-group btn btn-primary shadow" onclick="updatePlaylist('{{ existing_playlist.id }}')">Submit</button></p>
            </form>
        </div>
    </div>

{% endblock %}