{% extends 'wrappers/headerAndFooter.html' %}
<script src="/static/js/script.js"></script>

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <a id = "link" href={{ link }}>Click here to listen!</a>
    <div id="tag-descriptor">Tags:
        {% for tag in tags %}
        <p class="badge bg-secondary">
            <a href="/search/{{ tag }}" style="text-decoration: none; color: white">{{ tag }}</a>
        </p>
        {% endfor %}

        <!-- additional tags button and form -->
        <button id="toggleButton" class="btn btn-primary badge" onclick="toggleTagsForm()">+</button>
    </div>
    
    <div id="add-tags">
        <form class="form-popup" method="POST" action = "/playlist/{{ pid }}">
            <input class="input-group-text" type="text"  placeholder="tag1, tag2, ..." name="additionalTags" required>
        </form>
        <input class="btn btn-primary" type = "submit" value = "submit" />
    </div>

    <p id="description">Description: {{ description }}</p>
{% endblock %}