{% extends 'wrappers/headerAndFooter.html' %}
<script src="/static/js/script.js"></script>

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Created by: {{ createdBy }}</p>
    <div class="d-flex flex-row">
        <div class="center pe-md-1">
            <img src="{{ url_for('static', filename='assets/' + platform + '.png') }}" alt="{{ platform }}" style="max-width: 16px; max-height: 16px;">
        </div>
        <a id = "{{ pid }}" href="{{ link }}" target="_blank">Click here to listen!</a>
    </div>
    <div id="tag-descriptor">Tags:
        {% for playlistTagTuple in tags %}
        <p class="badge bg-secondary">

            {% if loggedin %}
                {% if votes[playlistTagTuple[1].id] == -1 %}
                    <button class="transparent-button pe-md-1" onclick="vote('{{ playlistTagTuple[1].id }}', '{{ pid }}', '0')" title="Remove vote!">
                        <i class="text-danger fas fa-arrow-down"></i>
                    </button>
                    {% else %}
                    <button class="transparent-button pe-md-1" onclick="vote('{{ playlistTagTuple[1].id }}', '{{ pid }}', '-1')" title="Vote against this tag!">
                        <i class="text-light-emphasis fas fa-arrow-down"></i>
                    </button>
                {% endif %}
            {% endif %}
        
            <a class="remove-style" href="/search/{{ playlistTagTuple[1].title }}" style="text-decoration: none; color: white">{{ playlistTagTuple[1].title }}</a>
            
            {% if loggedin %}
                {% if votes[playlistTagTuple[1].id] == 1 %}
                    <button class="transparent-button ps-md-1" onclick="vote('{{ playlistTagTuple[1].id }}', '{{ pid }}', '0')" title="Remove vote!">
                        <i class="text-primary fas fa-arrow-up"></i>
                    </button>
                {% else %}
                    <button class="transparent-button ps-md-1" onclick="vote('{{ playlistTagTuple[1].id }}', '{{ pid }}', '1')" title="Vote for this tag!">
                        <i class="text-light-emphasis fas fa-arrow-up"></i>
                    </button>
                {% endif %}
            {% endif %}
        </p>
        {% endfor %}

        {% if loggedin %}
            <!-- additional tags button and form -->
            <button id="toggleButton" class="btn btn-primary badge" onclick="toggleTagsForm()">+</button>
        {% endif %}
    </div>
    
    {% if loggedin %}
        <div id = "add-tags-box">
            <div id="add-tags">
                <!-- <form class="form-popup" onsubmit="addTagsToPlaylist('{{ pid }}')"> -->
                <input id="newTags" class="input-group-text" type="text"  placeholder="tag1, tag2, ..." name="additionalTags" required onkeydown="addTagsToPlaylist('{{ pid }}')">
                <button class="btn btn-primary" onclick="addTagsToPlaylist('{{ pid }}')">Submit</button>
                <!-- </form> -->
            </div>
    
            <div id="add-tags-description">
                <p>You can contribute additional tags here.<br>
                Other users will be able to see and vote for or against them.<br>
                Please only add suitable tags that aid in describing this playlist and help other users to find what they're looking for.</p>
    
            </div>
        </div>
        
        
    {% endif %}

    <p id="description">Description: {{ description }}</p>
{% endblock %}