{% extends 'wrappers/headerAndFooter.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <a id = "link" href={{ link }}>Click here to listen!</a>
    <div id="tag-descriptor">Tags:
        {% for playlistTagTuple in tags %}
        <p class="badge bg-secondary">

            {% if votes[playlistTagTuple[1].id] == -1 %}
                <button class="transparent-button pe-md-1" onclick="vote('{{ playlistTagTuple[1].id }}', '{{ pid }}', '0')" title="Remove vote!">
                    <i class="text-danger fas fa-arrow-down"></i>
                </button>
                {% else %}
                <button class="transparent-button pe-md-1" onclick="vote('{{ playlistTagTuple[1].id }}', '{{ pid }}', '-1')" title="Vote against this tag!">
                    <i class="text-light-emphasis fas fa-arrow-down"></i>
                </button>
            {% endif %}
            
            <a href="/search/{{ playlistTagTuple[1].title }}" style="text-decoration: none; color: white">{{ playlistTagTuple[1].title }}</a>
            
            {% if votes[playlistTagTuple[1].id] == 1 %}
                <button class="transparent-button ps-md-1" onclick="vote('{{ playlistTagTuple[1].id }}', '{{ pid }}', '0')" title="Remove vote!">
                    <i class="text-primary fas fa-arrow-up"></i>
                </button>
            {% else %}
                <button class="transparent-button ps-md-1" onclick="vote('{{ playlistTagTuple[1].id }}', '{{ pid }}', '1')" title="Vote for this tag!">
                    <i class="text-light-emphasis fas fa-arrow-up"></i>
                </button>
            {% endif %}
        </p>
        {% endfor %}
    </div>
    <p id="description">Description: {{ description }}</p>
{% endblock %}