{% extends 'wrappers/headerAndFooter.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="px-md-5 pt-md-4">
  <h2>Hello, {{ current_username }}!</h2>

  <div class="pb-sm-4"></div>
    
  {% for playlist in user_playlists %}
    <a class="remove-style" href="../playlist/{{ playlist.id }}">
      <div style="border-radius: 30px;" class="bg-gradient shadow">
        <div class="p-3">
          <h1>{{ playlist.title }}</h1>
          <div class="d-flex flex-row">
              <div class="center pe-md-1">
                  <img src="{{ url_for('static', filename='assets/' + playlist.platform + '.png') }}" alt="{{ platform }}" style="max-width: 16px; max-height: 16px;">
              </div>
              <a id = "{{ playlist.id }}" href="{{ playlist.link }}">Click here to listen!</a>
          </div>

        <div id="tag-descriptor">Tags:
            {% for t in playlists[playlist.id] %}
            <p class="badge bg-secondary">
              <a class="remove-style" href="../search/{{ t[1].title }}" style="text-decoration: none; color:white">
                {{ t[1].title }}
            </p>
            {% endfor %}
          </div>
          <p id="description">Description: {{ playlist.description }}</p>

          <div class="d-flex flex-row justify-content-between">

            <!-- <div class=""> -->
              <a style="display: inline-block; margin-right: 0; width: 100%;" class="remove-style" href="/editPlaylist/{{ playlist.id }}">
                  <button class="btn btn-primary">
                      Edit
                  </button>
              </a>
            <!-- </div> -->
              
              
              <div class="d-flex, flex-row, justify-content-end">
                <button class="btn btn-danger " onclick="deletePlaylist('{{ playlist.id }}')">
                    Delete
                </button>
              </div>
          </div>
        </div>
      </div>
    </a>
    <div class="pb-sm-4"></div>
    {% endfor %}

</div>


{% endblock %}
