{% extends 'wrappers/headerAndFooter.html' %}

{% block title %}Search Results for {{ query }}{% endblock %}

{% block content %}
  {% for playlist in result %}
  <a href="../playlist/{{ playlist.id }}">
    <div class="bg-gradient rounded-3 shadow">
      <div class="p-3">
        <h1>{{ playlist.title }}</h1>
      <a id = "link" href={{ playlist.link }}>Click here to listen!</a>
      <div id="tag-descriptor">Tags:
          {% for t in playlists[playlist.id] %}
          <p class="badge bg-secondary">
            <a href="../search/{{ t[1].title }}" style="text-decoration: none; color:white">
              {{ t[1].title }}
          </p>
          {% endfor %}
        </div>
        <p id="description">Description: {{ playlist.description }}</p>
      </div>
    </div>
  </a>
  <div class="pb-sm-4"></div>
  {% endfor %}
  <!-- <h1>{{ result }}</h1> -->
{% endblock %}