{% extends 'wrappers/headerAndFooter.html' %}

{% block title %}Sign Up Page | MusicFindr{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <form method="POST" action="">
        <p>User Name:<input type = "text" name = "userName" /></p>
    
        <p>Password:<input type = "password" name = "password" /></p>

        <p><input type = "submit" value = "submit" /></p>

        <a href="/login">
            <p>Already have an account? Login here!</p>
        </a>
    </form>
    

{% endblock %}