
{% extends 'wrappers/headerAndFooter.html' %}

{% block title %}Start Page{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-between align-items-center my-5">
   
        <!-- Hier ist die Suchleiste -->
        <input style="width: 500px" type="text" name="query" placeholder="Search..." id="searchbar" onkeydown="search()">
        <!-- <input type="submit" value="Search" onclick="search()"> -->
    
        <div style="margin-bottom: 450px;"></div>

        <div class="arrow-down"></div>
        <div style="margin-bottom: 50px;"></div>
        <!--drop-down menü-->
        <!-- <select name="playlist_order" id="playlist_order" onchange="playlist_order()">
            <option value="shuffled">shuffled</option>
            <option value="sorted">sorted</option>
        </select>
        <div style="margin-bottom: 20px;"></div>  -->
        <ul>
  {% for playlist in shuffled_playlist %}
 <a href="../playlist/{{ playlist.id }}">
    <div class="bg-dark-subtle rounded-3 shadow">
      <div class="p-3">
        <h1>{{ playlist.title }}</h1>
      <a id = "link" href={{ playlist.link }}>Click here to listen!</a>
      <div id="tag-descriptor">Tags:
          {% for t in playlist[playlist.id] %}
          <p class="badge bg-secondary">
              {{ t }}
          </p>
          {% endfor %}
        </div>
        <p id="description">Description: {{ playlist.description }}</p>
      </div>
    </div>
  </a>
  <div class="pb-sm-4"></div>
  {% endfor %}
        </ul>
    </div>


{% endblock %}
