
{% extends 'meta.html' %}

{% block body %}

<header class="bg-dark position-relative d-flex justify-content-center align-items-center">


    {% if isStartPage and not hidebutton and loggedin %}
    <div>
        <a href="/submitPlaylist">
            <button class="btn btn-primary position-absolute start-0 top-0">
                Submit Playlist
            </button>
        </a>
    </div>
    {% endif %}


    <div>
        <a href="/">
            <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 60px;" class="h1">
                MusicFindr
            </h1>
        </a>
        
    </div>
    <div>

        {% if not hidebutton %}
        
            {% if loggedin %}
            <div>
                <a href="/logout">
                    <button class="btn btn-danger position-absolute end-0 top-0">
                        Logout
                    </button>
                </a>
            </div>

            {% else %}
            <a formmethod = "POST" href="/login">
                <button class="btn btn-primary position-absolute end-0 top-0">
                    Login
                </button>
            </a>
            {% endif %}

        {% endif %}
       
    </div>
</header>
<main class="pt-sm-3 flex-grow-1">

    {% block content %}{% endblock %}

</main>
<footer style="opacity: 0.8;" class="bg-dark text-light text-center pb-sm-1 pt-sm-3 sticky-bottom rounded-top-3 shadow">
    <div class="container">
        <p style="opacity: 0.6;" class="text-light">&copy;2024 masters of designing but not thinking.</p>
    </div>
</footer>

{% endblock %}