{% extends 'base.html' %}

{% block title %}Start Page{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-between align-items-center my-5">
        <h2 class="text-center">ayo, willkommen auf der startseite!</h2>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasd</p>
        

        <p class="text-center">wie gehts dir heute so?</p>
    </div>
{% endblock %}